<header>
  <div class="container text-center hidden-xs">
    <h2>
      <a target="_blank" href="https://github.com/ycmjason/ic-elsa"><img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="height:1em;margin-top:-8px;"></a>
      Elsa {{version}}
      <br>
      <small class="lead">your exam timetable assistant.</small>
    </h2>
  </div>
  <div class="container text-left visible-xs">
    <h2>
      <a target="_blank" href="https://github.com/ycmjason/ic-elsa"><img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="height:1em;margin-top:-8px;"></a>
      Elsa {{version}}
      <br>
      <small class="lead">your exam timetable assistant.</small>
    </h2>
  </div>
  <div class="copyright">
    <h5 class="text-right">
      <a target="_blank" href="http://www.doc.ic.ac.uk/~cmy14">Jason Yu</a> &copy; 2016
      <br>
      <small>As usual, use it at your own risk.</small>
    </h5>
  </div>
</header>
