table{
  min-width: 1125px;
  border: 0;
  margin: 0;
}

h3{
  margin-bottom: 2rem;
}

h3 a:hover{
  text-decoration: none;
}

td{
  max-width: 30rem;
}

.scaryCountdown{
  color: red;
}

.scrollable{
  overflow-x: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  background-color: rgba(255, 255, 255, 0.7);
}
