<nav>
  <div class="container">
    <ul>
      <li *ngFor="#department of departments" (click)="selectDepartment(department)">
        <small>
          <span class="glyphicon glyphicon-menu-up" *ngIf="selectedDepartment==department"></span>
          <span class="glyphicon glyphicon-menu-down" *ngIf="selectedDepartment!=department"></span>
        </small>
        {{department.getCode()}}
      </li>
    </ul>
    <ul *ngIf="selectedDepartment">
      <li *ngFor="#cls of selectedDepartment.getClasses()"
          [routerLink]="['Timetable', {department: selectedDepartment.getCode(), class: cls.getCode()}]">
        {{cls.code}}
      </li>
    </ul>
  </div>
</nav>
