<h2>Welcome to Elsa</h2>
<p>
Elsa provides a nice interface for your exam timetable and counts down to your exams!
</p>

<p>
Start by selecting your department and class. Enjoy!
</p>


<p>
<img src="https://todaysauthor.files.wordpress.com/2014/03/keep-calm-and-revise-revise-revise-4.png">
</p>

<p>
<small>
  Image reference:<br>
  <a href="https://todaysauthor.files.wordpress.com/2014/03/keep-calm-and-revise-revise-revise-4.png" target="_blank">Keep Calm and Revise</a>
  <br>
  <a href="http://vignette3.wikia.nocookie.net/disneyprincess/images/f/f2/ElsaPromo.png/revision/latest?cb=20141127210433" target="_blank">Elsa</a>
</small>
</p>
